<div class="flexrow">
  <div class="edges-hindrances-list">
    <header class="header-field flexrow">
      <div>
        <span>{{localize "SWADE.Hindrances"}}</span>
      </div>
      <div class="header-field-add">
        <a class="item-create" data-type="hindrance"
          ><i class="fa fa-plus"></i
        ></a>
      </div>
    </header>
    <ol class="hindrances items-list">
      {{#each itemsByType.hindrance as |hindrance id|}}
      <li class="item flexrow" data-item-id="{{hindrance._id}}">
        <img src="{{hindrance.img}}" width="24" height="24" />
        <a class="item-control edge item-name" title="{{hindrance.name}}"
          >{{hindrance.name}} {{#if hindrance.data.major}} {{localize
          "SWADE.Major"}} {{else}} {{localize "SWADE.Minor"}} {{/if}}
        </a>
        <div class="item-controls">
          <a class="item-control item-show" title="{{localize 'SWADE.EdHind'}}"
            ><i class="fas fa-eye"></i
          ></a>
          <a class="item-control item-edit" title="{{localize 'SWADE.EdHind'}}"
            ><i class="fas fa-edit"></i
          ></a>
        </div>
      </li>
      {{/each}}
    </ol>
    <header class="header-field flexrow">
      <div>
        <span>{{localize "SWADE.Edges"}}</span>
      </div>
      <div class="header-field-add">
        <a class="item-create" data-type="edge"><i class="fa fa-plus"></i></a>
      </div>
    </header>
    <ol class="edges items-list resizable" data-base-size="390">
      {{#each itemsByType.edge as |edge id|}}
      <li class="item flexrow" data-item-id="{{edge._id}}">
        <img src="{{edge.img}}" width="24" height="24" />
        <a class="item-control edge item-name" title="{{edge.name}}"
          >{{edge.name}}</a
        >
        <div class="item-controls">
          <a class="item-control item-show" title="{{localize 'SWADE.EdHind'}}"
            ><i class="fas fa-eye"></i
          ></a>
          <a class="item-control item-edit" title="{{localize 'SWADE.EdEdge'}}"
            ><i class="fas fa-edit"></i
          ></a>
        </div>
      </li>
      {{/each}}
    </ol>
  </div>
  <div class="description">
    <header class="header-field">
      <span>{{{localize "SWADE.Desc"}}}</span>
    </header>
    <p
      class="description-value resizable"
      id="edge-description"
      data-base-size="540"
    ></p>
  </div>
</div>
